<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>EMSOop</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>syzcogen.servelet.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListSalaryController</display-name>
    <servlet-name>ListSalaryController</servlet-name>
    <servlet-class>syzcogen.servelet.ListSalaryController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListSalaryController</servlet-name>
    <url-pattern>/ListSalaryController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginSalaryController</display-name>
    <servlet-name>LoginSalaryController</servlet-name>
    <servlet-class>syzcogen.servelet.LoginSalaryController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginSalaryController</servlet-name>
    <url-pattern>/LoginSalaryController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddSalaryController</display-name>
    <servlet-name>AddSalaryController</servlet-name>
    <servlet-class>syzcogen.servelet.AddSalaryController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddSalaryController</servlet-name>
    <url-pattern>/AddSalaryController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateSalaryController</display-name>
    <servlet-name>UpdateSalaryController</servlet-name>
    <servlet-class>syzcogen.servelet.UpdateSalaryController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateSalaryController</servlet-name>
    <url-pattern>/UpdateSalaryController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListSalaryProfileController</display-name>
    <servlet-name>ListSalaryProfileController</servlet-name>
    <servlet-class>syzcogen.servelet.ListSalaryProfileController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListSalaryProfileController</servlet-name>
    <url-pattern>/ListSalaryProfileController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayUserProfileController</display-name>
    <servlet-name>DisplayUserProfileController</servlet-name>
    <servlet-class>syzcogen.servelet.DisplayUserProfileController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayUserProfileController</servlet-name>
    <url-pattern>/DisplayUserProfileController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RequestStatementController</display-name>
    <servlet-name>RequestStatementController</servlet-name>
    <servlet-class>syzcogen.servelet.RequestStatementController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestStatementController</servlet-name>
    <url-pattern>/RequestStatementController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RequestController</display-name>
    <servlet-name>RequestController</servlet-name>
    <servlet-class>syzcogen.servelet.RequestController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestController</servlet-name>
    <url-pattern>/RequestController</url-pattern>
  </servlet-mapping>
</web-app>